#landing{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
    background: linear-gradient(90deg, rgba(22, 55, 26, 0.67) 50.52%, rgba(50, 102, 55, 0.3149) 90.1%), url('../../Assets/Landing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
#landing > a{
    position: absolute;
    top: 20px;
    right: 20px;
}
@media only screen and (max-width: 900px){
    #landing{
        padding: 10px;
    }
}


/*Service Pitch*/
#service-pitch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    height: 300px;
    width: 97%;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.image-box.landscape{
    background: linear-gradient(0deg, rgba(22, 55, 26, 0.62), rgba(22, 55, 26, 0.62)), url('../../Assets/landscape.png');
    background-position: center;
    background-size: cover;

}
.image-box.greenery{
    background: linear-gradient(0deg, rgba(22, 55, 26, 0.62), rgba(22, 55, 26, 0.62)), url('../../Assets/greenery.png');
    background-position: center;
    background-size: cover;
}
.image-box.hardscape{
    background: linear-gradient(0deg, rgba(22, 55, 26, 0.62), rgba(22, 55, 26, 0.62)), url('../../Assets/hardscapes.png');
    background-position: center;
    background-size: cover;
}
.pitch-container{
    display: flex;
}
.pitch-container > .boxes{
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}
.pitch-container > .boxes > p{
    margin: auto;
    width: 90%;
    height: 350px;
}
.button-container{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1695px){
    .pitch-container > .boxes > p{
        width: 100%;
        font-size: 30px !important;
    }
  
}
@media only screen and (max-width: 1651px){
    .pitch-container > .boxes > p{
        width: 100%;
        font-size: 30px !important;
    }
    .pitch-container > .boxes{
        padding-bottom: 10px;
    }
  
}
@media only screen and (max-width: 1148px){
    .pitch-container > .boxes > p{
        display: none;
    }
    .amazing-service{
        display: block;
    }
    .pitch-container > .boxes{
 
        padding-bottom: 10px;
    }
  
}
@media only screen and (max-width: 845px){
    #service-pitch{
        display: none;
    }
  
}

