#homepage  #logo{
    display: none;
}
#landing{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px;
    background: linear-gradient(90deg, rgba(22, 55, 26, 0.67) 50.52%, rgba(50, 102, 55, 0.3149) 90.1%), url('../../Assets/Landing.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}
.home-logo{
    width: 200px;
    position: absolute;
}
@media only screen and (max-width: 661px){
    .home-logo{
        display: none;
    }
}
#landing > a{
    position: absolute;
    top: 20px;
    right: 20px;
}
@media only screen and (max-width: 900px){
    #landing{
        padding: 10px;
    }
}


/*Service Pitch*/
#mobileService{
    display: none;
    background:  linear-gradient(90deg, rgba(22, 55, 26, 0.7) 55.49%, rgba(50, 102, 55, 0.7) 100%), url('../../Assets/serviceBar.png');
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}
#service-pitch{
    display: flex;
    background:  linear-gradient(90deg, rgba(22, 55, 26, 0.7) 55.49%, rgba(50, 102, 55, 0.7) 100%), url('../../Assets/serviceBar.png');
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-attachment: fixed;
    padding: 30px;
    color: white;
}

.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
    margin: auto;
    margin-bottom: 10px;
    height: 300px;
    width: 97%;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    transition: ease-in-out .2s;
}
.image-box:hover{
    transform: scale(1.04);
}
.image-box.landscape{
    background: linear-gradient(0deg, rgba(22, 55, 26, 0.62), rgba(22, 55, 26, 0.62)), url('../../Assets/landscape.png');
    background-position: center;
    background-size: cover;

}
.image-box.greenery{
    background: linear-gradient(0deg, rgba(22, 55, 26, 0.62), rgba(22, 55, 26, 0.62)), url('../../Assets/greenery.png');
    background-position: center;
    background-size: cover;
}
.image-box.hardscape{
    background: linear-gradient(0deg, rgba(22, 55, 26, 0.62), rgba(22, 55, 26, 0.62)), url('../../Assets/hardscapes.png');
    background-position: center;
    background-size: cover;
}
.pitch-container{
    display: flex;
}
.pitch-container > .boxes{
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}
.amazing-service{
  margin: auto;
}
.button-container{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1695px){
    .pitch-container > .boxes > p{
        width: 100%;
        font-size: 30px !important;
    }
  
}
@media only screen and (max-width: 1651px){
    .pitch-container > .boxes > p{
        width: 100%;
        font-size: 30px !important;
    }
    .pitch-container > .boxes{
        padding-bottom: 10px;
    }
  
}
@media only screen and (max-width: 1148px){
    .pitch-container > .boxes > p{
        display: none;
    }
    .amazing-service{
        display: block;
    }
    .pitch-container > .boxes{
        padding-bottom: 10px;
    }
  
}
@media only screen and (max-width: 845px){
    #service-pitch{
        display: none;
    }
    #mobileService{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
  
}

/*Breathtaking*/
#breathtaking{
    position: relative;
    display: flex;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), url('../../Assets/BackgroundGrass.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#breathtaking > .inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.compare > p{
    position: absolute;
    bottom: 0;
    right: 10px;
    font-weight: bold;
    font-size: 30px !important;
}
.compare > div{
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    transition: ease-in-out .5s;
}
.comparision > .container{
    position: relative;   
    height: 90vh;
    margin-right: 10px;
}
.compare{
    position: absolute;
    border: solid white;
    width: 450px;
    height: 600px;
    transition: ease-in-out .5s;
}
.after.compare{
    z-index: 1;
    bottom: 0;
    right: 20px;
    background: url('../../Assets/after.png');
    background-position: center;
    background-size: cover;
    transition: ease-in-out .5s;
}
.after.compare > .after-txt{
    transition: ease-in-out .5s;
}
.after.compare > .before-txt, .compare > div > .after{
    display: none;
    transition: ease-in-out .5s;
}
.before.compare{
    top: 0;
    background: url('../../Assets/before.png');
    background-position: center;
    background-size: cover;
    transition: ease-in-out .5s;
}

.comparision > .container:hover .after.compare > .before-txt {
    display: block;
}
.comparision > .container:hover .after.compare > .after-txt {
    display: none;
}
.comparision > .container:hover .before.compare {
    background: url('../../Assets/after.png');
    background-position: center;
    background-size: cover;
}
.comparision > .container:hover .after.compare {
    background: url('../../Assets/before.png');
    background-position: center;
    background-size: cover;
}
.comparision > .container:hover .compare > div > .before {
    display: none;
}




@media only screen and (max-width: 1444px){
    .compare{
        position: absolute;
        border: solid white;
        width: 400px;
        height: 600px;
    }
}
@media only screen and (max-width: 1326px){
    .compare{
        position: absolute;
        border: solid white;
        width: 320px;
        height: 600px;
    }
}
@media only screen and (max-width: 1149px){
    .compare{
        position: absolute;
        border: solid white;
        width: 300px;
        height: 600px;
    }
}
@media only screen and (max-width: 1073px){
    .comparision{
        display: none;
    }
    #breathtaking{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/*Reviews*/
#reviews{
    overflow-x: hidden;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../Assets/review.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*Review Card*/
  #reviewCard{
    background-color: white;
    padding: 50px;
    border-radius: 22px;
    width: 800px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #reviewCard > div >  .heading{
    display: flex;
    align-items: center;
  }
  #reviewCard > div > .heading > img{
    margin-right: 10px;
    width: 70px;
    border-radius: 50%;
  }
  #reviewCard > div > p{
    margin-top: 10px;
    overflow-y: auto;
    height: 80%;
  }
    #reviews > div > h1{
        width: 20%;
        margin: auto;
        margin-bottom: 20px;
    }

@media only screen and (max-width: 778px) {
    #reviews{
        height: auto;
        padding-top: 100px;
    }
    #reviewCard{
        width: 500px;
        height: 90%;
    }
    #reviewCard > div >  .heading{
        text-align: center;
        display: block;
        align-items: center;
      }
    
}
@media only screen and (max-width: 537px){
    #reviews > div > h1{
        width: 15%;
        margin-bottom: 20px;
    }

}
@media only screen and (max-width: 499px) {
    #reviewCard{
        width: 400px;
        height: 90%;
    }
    #reviews, #breathtaking, #landing, #contact, #mobileService{
        background-attachment: scroll, local;
    }
    #reviews{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #contact{
        padding-bottom: 100px;
    }
}
@media only screen and (max-width: 412px) {
    #reviewCard{
        width: 300px;
        height: 90%;
    }
}
/*Contact*/
#contact{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../Assets/Contact.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 100px;

    justify-content: center;
    background-attachment: fixed;
}


#ff-title-root{
    font-family: 'Galano' !important;
    color: white;
}
#ff-compose{
    width: 100%;
}
#Publish1FAIpQLScoGtyqstfrODC3btcswGqqCChwt0ivCXwpKpM_9o4PXHyOlQ{
    background: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}
#ff-id-1492036453{
    width: 45%;
    display: inline-block;
    
}
#ff-id-1184986610{
    width: 45%;
    display: inline-block;
    margin-left: 5%;
}
.ff-form .ff-secfields .ff-item label{
    color: white !important;
    font-weight: 450;
    font-size: 20px
}
input{
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
@media only screen and (max-width: 508px){
    #ff-id-1492036453{
        width: auto;
        display: block;
    }
    #ff-id-1184986610{
        width: auto;
        display: block;
        margin-left: 0%;
    }
    
}
#ff-id-1213382725 > label, #ff-id-880864503 > label{
    font-family: 'Galano';
    font-size: 24px;
    margin-bottom: 10px;
}
#ff-id-844590796 > label > div{
    font-weight: bold;

}
#ff-id-1213382725, #ff-id-880864503{
    border-bottom: solid white 2px;
}
#ff-submit-root > span{
    text-transform: none;
}
#ff-desc-root > p{
    color: white !important;
}
