.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #16371A;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 999;
    transition: ease-in-out .2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .back-to-top.visible {
    opacity: 1;
  }
  
  .arrow-circle {
    position: relative;
    width: 40px;
    height: 40px;
  }
  
  .arrow-circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
  }
  
  .back-to-top:hover {
    transform: scale(1.1);
  }
  .back-to-top:active{
    transform: scale(1);
  }