#gallery{
    background: linear-gradient(0deg, rgba(50, 102, 55, 1), rgba(50, 102, 55, .8)), url('../../Assets/Gallery.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    background-attachment: fixed;
    overflow: hidden;
}

#gallery > div >  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;
    background: rgba(22, 55, 26, 0.87);
    border-bottom: 5px solid #FCFAF4;
    margin-bottom: 100px;
   
}
.img-container.flex{
    display: flex;
    justify-content: space-around;
}
.click{
    display: none;
}

.img-container.hover > .img-with-desc > .gal-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-with-desc{
    width: 47%;
}
.img-with-desc > p{
    padding-top: 10px;
}
.gal-img{
    border: solid white;
    height: 400px;

}
.service-label{
    position: absolute;
    background-color: #FA6733;
    color: white;
    padding: 10px 35px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.service-label.hover{
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    top: 0;
    left: 0;
}
.service-label.block{
    right: 0;
    bottom: 0;
    border-left: solid white 2px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}
.service-label.side{
    top: 0;
    right: 0;
    border-left: solid white 2px;
    border-bottom: solid white 2px;
}
.gal-img.full{
    width: 100%;
}
.gal-img.full.first{
    background: linear-gradient(0deg, rgba(22, 55, 26, 0.67), rgba(22, 55, 26, 0.67)), url("../../Assets/Gallery/hover-first-before.jpg");
    background-position: center;
    background-size: cover;
    transition: ease-in-out .4s;
}
.gal-img.full.first:hover, .gal-img.full.first:active{
    background: url("../../Assets/Gallery/hover-first-after.jpg");
    background-position: center;
    background-size: cover;
}
.gal-img.full.first:hover .service-label.hover{
    display: block;
}
.gal-img.full.first:active .service-label.hover{
    display: block;
}


.gal-img.full.second{
    background: linear-gradient(0deg, rgba(22, 55, 26, 0.67), rgba(22, 55, 26, 0.67)), url("../../Assets/Gallery/hover-second-before.jpg");
    background-position: center;
    background-size: cover;
    transition: ease-in-out .4s;
}
.gal-img.full.second:hover, .gal-img.full.second:active{
    background: url("../../Assets/Gallery/hover-second-after.jpg");
    background-position: center;
    background-size: cover;
}
.gal-img.full.second:hover .service-label.hover, .gal-img.full.second:active .service-label.hover{
    display: block;
}

.gal-img.full.first:hover p, .gal-img.full.second:hover p, .gal-img.full.first:active p, .gal-img.full.second:active p {
    display: none;
}

  
.gal-img.firstTop{
    background: url("../../Assets/Gallery/over-first-before.jpg");
    background-position: center;
    background-size: cover;

}
.gal-img.secondTop{
    background: url("../../Assets/Gallery/over-first-after.jpg");
    background-position: center;
    background-size: cover;
}
.gal-img.firstBottom{
    background:url("../../Assets/Gallery/over-second-before.jpg");
    background-position: center;
    background-size: cover;

}
.gal-img.secondBottom{
    background: url("../../Assets/Gallery/over-second-after.jpg");
    background-position: center;
    background-size: cover;
}
.img-container.block{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    height: 550px;
}
.img-container.block > .block > .txt{
    padding: 10px;
    height: 30%;
}
.img-container.block > .block > .gal-img{
    height: 70%;
}
.img-container.block > .block > .gal-img.after{
    background-color: gray;
    translate: -30px;
}
.img-container.block > .block > .gal-img.before{
    background-color: purple;
}
.img-container.block > .block{
    width: 40%;
}

.text-show{
    display: none;
}
.side-by-side{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}
.side-by-side.first > .img-container.before{
    background: url("../../Assets/Gallery/side-first-before.jpg");
    background-position: center;
    background-size: cover;
}
.side-by-side.first > .img-container.after{
    background: url("../../Assets/Gallery/side-first-after.jpg");
    background-position: center;
    background-size: cover;
}
.side-by-side.second > .img-container.before{
    background: url("../../Assets/Gallery/side-second-before.jpg");
    background-position: center;
    background-size: cover;
}
.side-by-side.second > .img-container.after{
    background: url("../../Assets/Gallery/side-second-after.jpg");
    background-position: center;
    background-size: cover;
}
.side-by-side > .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.side.before{
    translate: -50px;
    transition: ease-in-out .2s;
}
.side.after{
    translate: 50px;
    transition: ease-in-out .2s;
}
.side.before:hover, .side.after:hover, .side.before:active, .side.after:active{
    translate: 0px;
}
.side.before > .white-txt{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.side.after > .white-txt{
    position: absolute;
    bottom: 0;
    left: 10px;
}


.img-container.side{
    border: solid  white;
    height: 300px;
}
.side.txt{
    display: none;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.regular > div{
    display: flex;
    justify-content: space-around;
}
.regular > div > .container-img > .img{
    position: relative;
    margin-top: -10px;
    height: 300px;
    border: solid white;
}
.regular.first > div > .container-img > .before{
    background: url("../../Assets/Gallery/regular-first-before.jpg");
    background-position: center;
    background-size: cover;
}
.regular.first > div > .container-img > .after{
    background: url("../../Assets/Gallery/regular-first-after.jpg");
    background-position: center;
    background-size: cover;
}
.regular.second > div > .container-img > .before{
    background: url("../../Assets/Gallery/regular-second-before.jpg");
    background-position: center;
    background-size: cover;
}
.regular.second > div > .container-img > .after{
    background: url("../../Assets/Gallery/regular-second-after.jpg");
    background-position: center;
    background-size: cover;
}
#facebookLink{
    margin-top: 140px;
    text-align: center;
}
@media only screen and (max-width: 1069px){
    .blockTwo > .txt > p{
        flex-wrap: nowrap;
        width: 450px;
    }
}
@media only screen and (max-width: 991px){
   .side-by-side > .txt.one{
        display: none;
   }
   .side.txt{
    display: block;
   }
}
@media only screen and (max-width: 936px){
    .img-container.block > .block > .txt{
        display: none;
    }
    #gallery > div >  .heading{
        padding-left: 100px;
        padding-right: 100px;
    }
    .img-block{
        display: block;
        height: 300px;
        width: 90%;
    }
    .hide-img-gal{
        display: none;
    }
    .img-container.block{
        justify-content: space-around;
        margin-top: 300px;
        height: auto;
    }
    .img-container.block > .block{
        width: 45%;
    }
    .img-container.block > .block > .gal-img{
        height: 300px;
    }
    .img-container.block > .block > .gal-img.after{
        translate: 0px;
    }
    .text-hide{
        display: none;
    }
    .text-show{
        display: block;
        padding: 10px;
    }
}
@media only screen and (max-width: 767px){
    .side-by-side{
        display: block;
    }
    .img-container.side {
        width: 90%;
    }
    .side.before{
        translate: -15px;

    }
    .side.after{
        margin-top: 20px;
        margin-bottom: 10px;
        translate: 15px;
        float: right;
    }
    .regular > div{
        width: 90%;
        display: block;  
    }
    .regular{
        display: flex;
        justify-content: center;
    }

}
@media only screen and (max-width: 700px){
    .img-container.block{
        display: block;

    }
    .img-container.block > .block{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img-container.block > .block > .gal-img{
        width: 97%;
        margin-bottom: 10px;
    }
    .hovertxt{
        display: none;
    }
    .click{
        display: block;
    }
}

@media only screen and (max-width: 400px){
    #gallery > div > .heading{
        padding-left: 20px;
        padding-right: 20px;
    }
    .img-container.side {
        width: 100%;
    }
    .side.before{
        translate: 0px;

    }
    .side.after{
        translate: 0px;
    }
}