#service-page{
    background: linear-gradient(0deg, rgba(50, 102, 55, 1), rgba(50, 102, 55, .8)), url('../../Assets/Service.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    background-attachment: fixed;
}
#service-page > div > .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 150px;
    padding-left: 400px;
    padding-right: 400px;
    background: rgba(22, 55, 26, 0.87);
    border-bottom: 5px solid #FCFAF4;
    margin-bottom: 100px;
   
}

#service-page > div >  .heading > div > p{
    border-top: solid white;
    padding-top: 10px;
}
.service-list{
    display: flex;
    scroll-behavior: smooth;
}
.service-list::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
}
  
  .service-list::-webkit-scrollbar-track {
    background-color: #326637; /* Color of the scrollbar track */
  }
  
  .service-list::-webkit-scrollbar-thumb {
    background-color: #16371A; /* Color of the scrollbar thumb */
  }
  
  .service-list::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }
.service-item{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;
}
.service-list > .nav > ul.sticky-element {
    position: sticky;
    top: 10px !important;
    padding-top: 30px;
  }
.service-example{
    display: flex;
    justify-content: space-between;
}
.service-example > .picture,.service-example > .pictureOne{
    background-color: white;
    border: solid white;
    height: 300px;
}

#hardscapes > .service-example > .pictureOne{
    background: url("../../Assets/Services/hardscapeOne.jpg");
    background-size: cover;
    background-position: center;
}
#hardscapes > .service-example > .picture{
    background: url("../../Assets/Services/hardscapeTwo.jpg");
    background-size: cover;
    background-position: center;
}

#outdoor-lighting > .service-example > .pictureOne{
    background: url("../../Assets/Services/outdoorOne.jpg");
    background-size: cover;
    background-position: center;

}
#outdoor-lighting > .service-example > .picture{
    background: url("../../Assets/Services/outdoorTwo.jpg");
    background-size: cover;
    background-position: center;

}

#property-maintenance > .service-example > .pictureOne{
    background: url("../../Assets/Services/propertyOne.jpg");
    background-size: cover;
    background-position: center;

}
#property-maintenance > .service-example > .picture{
    background: url("../../Assets/Services/propertyTwo.jpg");
    background-size: cover;
    background-position: center;
}

#landscape-design > .service-example > .pictureOne{
    background: url("../../Assets/Services/designOne.jpg");
    background-size: cover;
    background-position: center;

}
#landscape-design > .service-example > .picture{
    background: url("../../Assets/Services/designTwo.jpg");
    background-size: cover;
    background-position: center;

}

#exterior-drainage > .service-example > .pictureOne{
    background: url("../../Assets/Services/drainageOne.jpg");
    background-size: cover;
    background-position: center;

}
#exterior-drainage > .service-example > .picture{
    background: url("../../Assets/Services/drainageTwo.jpg");
    background-size: cover;
    background-position: center;
}

#outdoor-living-spaces > .service-example > .pictureOne{
    background: url("../../Assets/Services/livingOne.jpg");
    background-size: cover;
    background-position: center;

}
#outdoor-living-spaces > .service-example > .picture{
    background: url("../../Assets/Services/livingTwo.jpg");
    background-size: cover;
    background-position: center;
}

#retaining-walls > .service-example > .pictureOne{
    background: url("../../Assets/Services/retainingOne.jpg");
    background-size: cover;
    background-position: center;

}
#retaining-walls > .service-example > .picture{
    background: url("../../Assets/Services/retainingTwo.jpg");
    background-size: cover;
    background-position: center;

}
.service-item > p > b{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.service-list > .nav > ul {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    align-self: flex-start;
    top: 10px;
    border-left:solid white;
    height: auto;
    margin-left: 10px;
    padding-right: 40px;
}
.service-list > .nav > ul > li{
    margin-bottom: 20px;
}
.service-list > .nav > ul > li > a{
    color: white;
    text-transform: none;
    transition: ease-in-out .2s;

}
.service-list > .nav > ul > li > a.active,
.service-list > .nav > ul > li > a:hover,
.service-list > .nav > ul > li > a:active {
    color: #FA6733;
}
@media only screen and (max-width: 991px){
    .service-example > .pictureOne{
        width: 99%;
    }
    #service-page > div >  .heading, #gallery > div > .heading{
        padding-left: 20px;
        padding-right: 20px;
       
    }
}
@media only screen and (min-width: 991px){
    .service-example > .pictureOne{
        width: 55%;
    }
    .service-example > .picture{
        width: 42%;
    }

}
@media only screen and (max-width: 991px){
    .service-list{
        display: block;
    }
    .service-list > .nav > ul {
        display: none;
    }

}
#questions{
    background: linear-gradient(180deg, rgba(22, 55, 26, 0) 0%, #16371A 100%);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}
