#service-page{
    height: 100vh;
    background: linear-gradient(0deg, rgba(50, 102, 55, 0.72), rgba(50, 102, 55, 0.72)), url('../../Assets/Service.png');
    background-size: cover;
    background-repeat: no-repeat;
     
}