body{
  overflow-x: hidden !important;
}
@font-face {
  font-family: 'Galano';
  src: url('../public/fonts/galanogrotesque-bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h1{
  font-family: 'Galano';
}
p, button, a, h2, h3, h4 {
  font-family: 'Inter' !important;

}
h1{
  font-size: 90px !important;
} 
h2{ 
  font-size: 50px !important; 
} 
h3{ 
  font-size: 66px !important; 
}
h4{
  font-size: 46px !important; 
}
p, a{
  font-size: 40px !important;
}
a{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline !important;
  transition: ease-in-out .2s;
}
a:hover{
 color: #FA6733 !important;
}
button{
  font-size: 50px !important;
  color: #FCFAF4;
  padding: 15px;
  background: #FA6733;
  border: 2px solid #FFFCF1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  font-weight: bold;
  padding-left: 65px;
  padding-right: 65px;
  transition: ease-in-out .2s;
}
button:hover{
  background-color: #FF5011;
}
.orange-bg{
  background-color: #FA6733;
}
.green-bg{
  background-color: #16371A;
}
.white-bg{
  background-color: #FCFAF4;
}
.lightGreen-bg{
  background-color: #326637;
}
.white-txt{
  color: #FCFAF4;
}
@media only screen and (max-width: 1319px){
  h1{
    font-size: 50px !important;
  } 
  h2{ 
    font-size: 30px !important; 
  } 
  button{
    font-size: 30px !important;
 
  }
  p, a{
    font-size: 23px !important;
  }
}
@media only screen and (max-width: 415px){
  body, #landing{
    overflow-x: auto !important;
  }
  h1{
    font-size: 4vh !important;
  } 
  h2{ 
    font-size: 2vh !important;
  } 
  button{
    font-size: 2vh !important;
    padding: 10px;
 
  }
  p, a{
    font-size: 2vh !important;
  }
}