body{
  overflow-x: hidden !important;
}
@font-face {
  font-family: 'Galano';
  src: url('../public/fonts/galanogrotesque-bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h1, h5{
  font-family: 'Galano';
}
p, button, a, h2, h3, h4, #ff-submit-root, li {
  font-family: 'Inter' !important;

}
h1{
  font-size: 40px !important;
} 
h2{ 
  font-size: 30px !important; 
} 
h3{ 
  font-size: 55px !important; 
}
h4{
  font-size: 36px !important; 
}
p, a, li{
  font-size: 20px !important;
}
a{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none !important;
  transition: ease-in-out .2s;
}
a:hover{
 color: #FA6733 !important;   
}
button, #ff-submit-root{
  font-size: 25px !important;
  color: #FCFAF4;
  padding: 10px;
  background: #FA6733;
  border: 2px solid #FFFCF1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  transition: ease-in-out .2s;
}
button:hover, #ff-submit-root:hover{
  background-color: #FF5011;
}
.orange-bg{
  background-color: #FA6733;
}
.green-bg{
  background-color: #16371A;
}
.white-bg{
  background-color: #FCFAF4;
}
.lightGreen-bg{
  background-color: #326637;
}
.white-txt{
  color: #FCFAF4;
}
.green-txt{
  color: #16371A;
}
#logo{
  width: 170px;
  z-index: 10;
  position: absolute;
  top: 0px;
  transition: ease-in-out .2s;
}
#logo:hover{
  transform: scale(1.1);
}
@media only screen and (max-width: 1319px){
  h1{
    font-size: 40px !important;
  } 
  h2{ 
    font-size: 30px !important; 
  } 
  button{
    font-size: 30px !important;
 
  }
  p, a, li{
    font-size: 23px !important;
  }
}
@media only screen and (max-width: 415px){
  body, #landing{
    overflow-x: auto !important;
  }
  h1{
    font-size: 4vh !important;
  } 
  h2{ 
    font-size: 2vh !important;
  } 
  button{
    font-size: 2vh !important;
    padding: 10px;
 
  }
  p, a, li{
    font-size: 2vh !important;
  }
}
.navigation{
  z-index: 10;
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
}
.nav-txt, .navigation > .link-btn > button{
  margin-right: 30px;
}
.navigation > .link-btn > button{
  font-size: 20px !important;
  padding: 6px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.nav-txt{
  text-decoration: none !important;
  text-transform: none !important;
}

/*Video*/
#video{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide{
  display: none;
}
.show{
  display: block;
}
.hamburger-nav{
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: absolute;
  display: none;
}
.hamburger-nav > div{
  background-color: #16371A;
  width: 100vw;
  border: solid #16371A;
  height: 100vh;
}
.hamburger-btn{
  border: 0px;
  width: 30px;
}
.hamburger-icon {
  z-index: 100;
  border-radius: 10px;
  font-size: 50px; /* Adjust the size as desired */
  color: white;
  padding: 10px;
  margin: 10px;
}

.hamburger-links > a{
  margin-top: 100px;
  margin-left: 15px;
  display: block !important;
  font-size: 100vw !important;
}
.x-btn{
  position: absolute;
  font-size: 40px !important;
  bottom: 10px;
  right: 10px;
}

@media only screen and (max-width: 505px) {
  .hamburger-nav{
    display: block;
  }
  #logo{
    display: none;
  }
  .non-hamburger{
    display: none;
  }
  
}
#footer{
  display: flex;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #16371A;
}
#footer > div{
  margin-right: 65px;
}
#terms, #privacy{
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), url('./Assets/BackgroundGrass.png');
  background-attachment: fixed;
}
#terms > .container, #privacy > .container{
  margin: auto;
  width: 90%;
  padding-top: 150px;
  padding-bottom: 100px;
}
#terms > div > ol > li, #privacy > div > ol > li{
  margin-top: 15px;
}
@media only screen and (max-width: 880px){
  #footer > .info{
    display: none;
  }
  #footer > .docu{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (max-width: 544px){
  #footer{
    display: none;
  }

}

ul > li{
  margin-top: 10px;
}